h1 {
  text-align: center;
}

body {
  background-color: rgb(90, 164, 248);

}
#container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player,
#computer {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(10, 20px);
    background-color: black;
    border: 1px solid black;
}

#player > div {
  background-color: rgb(90, 164, 248);


    width: 20px;
    height: 20px;
}
#computer > div {
  background-color: rgb(90, 164, 248);

    width: 20px;
    height: 20px;
}

.miss {
  background-color: white !important;

}

.hit {
  background-color: rgb(237, 93, 93) !important;
}

.ship {
  background-color: rgb(55, 55, 55) !important;
}